input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.backimg{
    background-image: url(images/form.jpg);
    background-position:100% 80%;
}

.divform {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
margin-left: 500px;
margin-right: 500px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.header {
    padding: 80px;
    text-align: center;
    background:black;
    color: red;
    
}

#header{
    padding: 80px;
    text-align: center;
    background:black;
    color: red;
    
}




#img1{
    width: 600px;
}
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color:dimgrey;
    color: azure;
    padding: 20px;
}

.mainhakkinda{
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color:dimgray;
    padding: 20px;
    color: azure;
}

.header_hakkinda{
    color:cadetblue;
}

.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color:darkgray;
    padding: 20px;
    
}
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

.header h1 {
    font-size: 40px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}



.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #666;
    color: white;
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }

}
#uyelik_formu
{
    
 padding: 10px;
    
    
    
}  
label
{          
    float: left;
    width: 150px;
}
#gonder{
    width:100px; 
    height:30px;
    background-color: darkgrey ; // Arka Plan rengi
    padding: 4px 10px;
    border-radius: 4px;
    border: 1px solid  black;// Dış Çerçeve Rengi
    margin:5px 0px;
    margin:4px 4px 10px 4px;
    
}
#gonder:hover{
    background:red; // Fare üzerine geldiginde görünecek renk
}


.yuvarla {
border-radius: 5%;
}

.center{
    margin-left: 250px;
    margin-right: 350px;
    
    text-align: center;
}

table{
    margin-left: 230px;
}

div p{
    margin-right: 150px;
    text-align: justify;
}

.form_padding{
    padding: 20px;
}